@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.pwd_div {
    display: block;
    margin: auto; 
    width: 350px;
    height: 350px;
    

    background-color: rgba(220, 220, 220, 0.521);
}

.center {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

