    <footer>
        <br><br>
        <div>Laboratorio 13 de tc2005b</div>
        <div>Editor HTML utilizado: Visual Studio Code</div>
        <div>Página web del editor: <a href="https://code.visualstudio.com/"> https://code.visualstudio.com </a></div>
    </footer>
</body>
</html>