<%- include('partials/head.ejs') %>
    <main>
        <h1><%= titulo %></h1>
        <div>
            <h3>Escribe tu nombre: </h3>
            <form action="nuevo-nombre" method="POST"> 
                <input type="text" name="nuevo-nombre"> 
                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>

<%- include('partials/footer.ejs') %>