<%- include('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <main>
        <h1><%= titulo %></h1>
        <div>
            <form action="signup" method="POST"> 
                <label> Nombre: </label><input type="text" name="nuevo_nombre" required> 
                <label> Email: </label><input type="text" name="nuevo_correo" required>
                <label> Contraseña: </label><input type="password" name="nueva_contraseña" required>
                <label> Edad: </label><input type="text" name="nueva_edad" required>
                <label> Foto de Perfil (Dirección de imagen): </label><input type="text" name="nueva_imagen">
                <input type="submit" value="Enviar">
            </form>
        </div> 
    </main>

<%- include('partials/footer.ejs') %>