<%- include('partials/head.ejs') %>

<main> 
    <h1> Error 404 - Page Not Found <h1></h1>

    <div>
        <h4>¿Qué beneficios encuentras en el modelo MVC?</h4>
        <ul>
            <li>Evita el código "espaguetti" y distribuye el código en capas: Modelo, Vista y Control.</li>
            <li>Brinda mantenibilidad al producto de software.</li>
            <li>Es más fácil hacer cambios en el código cuando tienes la información separada. </li> 
        </ul> 

        <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4> 
        <ul>
            <li>Se puede volver contraproducente para pequeñas aplicaciones. </li>
            <li>Es una arquitectura compleja y que puede no ser siempre eficiente.</li>
        </ul> 
    </div> 
</main>

</body>
</html>