<%- include ('partials/head.ejs') %>
    
<main>
    <h1><%= titulo %></h1> 
    <div>
        Intenta buscar las rutas /html, /css y /js.
    </div> 
</main>

<%- include ('partials/footer.ejs') %>
 
