<%- include('partials/head.ejs') %>

<main> 
    <h1> Error 404 - Page Not Found <h1></h1>
    <div>
        <h4> ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)? </h4>
        <p>
            Una Rich Internet Application es una aplicación web que comparte muchas de las características de una aplicación 
            de escritorio. Tiene varias funcionalidades y por esto es recomendable utilizar AJAX, conjunto de tecnologías
            con las cuales podremos realizar peticiones asíncronas; es decir, sin tener que recargar toda la página, solo 
            pedimos cambiar ciertas partes de ella (texto, imagenes, etc.).  

            En mi página, utilicé AJAX para buscar usuarios específicos de la página. Lo que más aprendo de esto, es que 
            ahora tengo una mejor base para optimizar el proyecto en el que estamos trabajando, pues hay vistas que requieren
            tener peticiones asíncronas para reducir su complejidad y optimizar su rendimiento.
        </p>
    </div>
    <div> 
        <h4> ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor? </h4>
        <p> 
            De acuerdo con lo visto en clase, debemos enviar en las peticiones asíncronas de AJAX el código CSRF para proteger las rutas 
            y evitar ataques de Cross-Site Request Forgery (copiar el sitio web y que sea modificado para fines malos operados por 
            otras personas). Además, en las consultas a la base de datos hechas con la petición, es necesario tener una sintaxis 
            que evite las inyecciones de código SQL. 
        </p>
    </div>
    <div>
        <h4> ¿Qué es JSON? </h4>
        <p>
            JavaScript Object Notation (JSON) es un estándar de texto que almacena objetos
            de JavaScript de manera fácil de entender para el usuario y el sistema. 
            Con él podemos enviar datos en las aplicaciones y páginas web y tratarlos 
            de manera sencilla. 
        </p>
    </div>
</main>

</body>
</html>