<!DOCTYPE html>
<html lang = es>
<head></head>    
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="CSS/mini_inicio.css"/>
    <meta name="viewport" content="widt=device-width, initial-scale=1.0">

    <title><%= titulo %></title>
</head>

<body>